PEER_PORT={{getenv (printf "%s_PEER_PORT" (getenv "SELF"))}}

RUN_STANDALONE=false
LOG_FILE_PATH="{{getenv "LOG_FILE_PATH"}}"
BUCKET_DIR_PATH="/data/buckets"
TMP_DIR_PATH="/data/tmp"

HTTP_PORT={{getenv (printf "%s_HTTP_PORT" (getenv "SELF"))}}
PUBLIC_HTTP_PORT=true

{{if (getenv "CATCHUP_COMPLETE")}}
CATCHUP_COMPLETE={{getenv "CATCHUP_COMPLETE"}}
{{end}}

{{if (getenv (printf "%s_NODE_SEED" (getenv "SELF"))) }} 
NODE_SEED="{{getenv (printf "%s_NODE_SEED" (getenv "SELF"))}}"
{{end}}
{{if (getenv "NODE_IS_VALIDATOR")}}
NODE_IS_VALIDATOR={{getenv "NODE_IS_VALIDATOR"}}
{{end}}

{{if (getenv "TARGET_PEER_CONNECTIONS")}}
TARGET_PEER_CONNECTIONS={{getenv "TARGET_PEER_CONNECTIONS"}}
{{else}}
TARGET_PEER_CONNECTIONS=20
{{end}}

{{if (getenv "MAX_PEER_CONNECTIONS")}}
MAX_PEER_CONNECTIONS={{getenv "MAX_PEER_CONNECTIONS"}}
{{else}}
MAX_PEER_CONNECTIONS=30
{{end}}

PREFERRED_PEERS={{getenv "PREFERRED_PEERS"}}

{{if (getenv "MANUAL_CLOSE")}}
MANUAL_CLOSE={{getenv "MANUAL_CLOSE"}}
{{end}}

{{if (getenv "ARTIFICIALLY_GENERATE_LOAD_FOR_TESTING")}}
ARTIFICIALLY_GENERATE_LOAD_FOR_TESTING={{getenv "ARTIFICIALLY_GENERATE_LOAD_FOR_TESTING"}}
{{end}}

{{if (getenv "ARTIFICIALLY_ACCELERATE_TIME_FOR_TESTING")}}
ARTIFICIALLY_ACCELERATE_TIME_FOR_TESTING={{getenv "ARTIFICIALLY_ACCELERATE_TIME_FOR_TESTING"}}
{{end}}

{{if (getenv "COMMANDS")}}
COMMANDS={{getenv "COMMANDS"}}
{{end}}

{{if (getenv "PARANOID_MODE")}}
PARANOID_MODE={{getenv "PARANOID_MODE"}}
{{end}}
{{if (getenv "FAILURE_SAFETY")}}
FAILURE_SAFETY={{getenv "FAILURE_SAFETY"}}
{{end}}
{{if (getenv "UNSAFE_QUORUM")}}
UNSAFE_QUORUM={{getenv "UNSAFE_QUORUM"}}
{{end}}

DATABASE="postgresql://dbname=stellar user=postgres host=/postgresql-unix-sockets"

{{if (getenv "NETWORK_PASSPHRASE")}}
NETWORK_PASSPHRASE="{{getenv "NETWORK_PASSPHRASE"}}"
{{else}}
NETWORK_PASSPHRASE="Public Global Stellar Network ; September 2015"
{{end}}

[QUORUM_SET]
{{if (getenv "THRESHOLD_PERCENT")}}
THRESHOLD_PERCENT={{getenv "THRESHOLD_PERCENT"}}
{{end}}
VALIDATORS={{getenv "VALIDATORS"}}

{{range jsonArray (getenv "HISTORY_PEERS")}}
[HISTORY.{{.}}]
get="{{printf (getenv "HISTORY_GET") .}}"
{{if (eq . (getenv "SELF"))}}
put="{{printf (getenv "HISTORY_PUT") (getenv "SELF")}}"
{{if (getenv "HISTORY_MKDIR")}}
mkdir="{{printf (getenv "HISTORY_MKDIR") (getenv "SELF")}}"
{{end}}
{{end}}
{{end}}

